body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  background-color: bisque;
}

.filters {
  z-index: 9999;
  position: absolute;
  left: 185px;
  top: 10px;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
}

.filter {
  margin-right: 12px;
  padding: 5px;
}

.applyButton {
  background-color: #35B3C2;
  padding: 6px;
  cursor: pointer;
  border: 1px solid gray;
  color: white;
}

.info {
  z-index: 9999;
  position: absolute;
  left: 185px;
  top: 70px;
  color: white;
  font-size: 30px;
  text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.info p {
  margin: 1px
}